/* Everything from here down is related to the Matrix-Live generated HTML
  Mostly copied and changed from the official Matrix Live repo
*/

.matrix-live-main {
  margin: 0 auto;
  min-width: 740px;
  max-width: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.matrix-live-loading {
  font-size: smaller;
  text-align: right;
  color: #918e91;
  opacity: 0;
  padding: 4px;
  margin: 1px;
  display: none;
}

.matrix-live-loading-error {
  color: #ff686e;
  display: none;
}

.matrix-live-error {
  border-bottom-style: solid;
  border-bottom-color: #aeabac;
  border-bottom-width: 2px;

  padding-bottom: 30px;
  margin: 10px;

  color: #ff686e;
  display: none;
}

.matrix-live-body {
  margin: 0 auto;
  
}

.matrix-live-entry:before {
  color: green;
  
}

.matrix-live-entry:before {
  font-size: 1.5em;
  color: green;
  content: ".post  "
}



.matrix-live-entry {


  color: #A4A59E;

  border-style: none;


  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 0px;

  margin-bottom: 5px;
  
}



.matrix-live-new {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}


.matrix-live-entry-body h1:before {
  font-size: 0.7em;
  color: green;
  content: "title: "
}





.matrix-live-entry-body {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}


.matrix-live-entry-body pre {
  justify-content: center
}




.matrix-live-entry-body p {
  margin-bottom: 5px;
}

.matrix-live-entry-body h2 {

  text-align: center;
}

.matrix-live-entry-body h3 {

  text-align: center;
}

.matrix-live-entry-body h4 {

  text-align: center;
}

.matrix-live-entry-body h5 {

  text-align: center;
}

.matrix-live-entry-body h6 {

  text-align: center;
}

.matrix-live-entry-body img {
  max-width: 100%;
  text-align: center;
}

.matrix-live-entry-inline-viewer {
  text-align: center;
}


.matrix-live-entry-image {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.matrix-live-entry-image img {
  max-width: 100%;
}


.matrix-live-entry-video {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.matrix-live-entry-video video {
  max-width: 100%;
}


.matrix-live-entry-file {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.matrix-live-entry-file svg {
  width: 32px;
  max-width: 20%;
  margin-right: 16px;
  vertical-align: middle;
}


.matrix-live-entry-author {
  font-size: small;
  color: #ffffff;
  display: inline;
  float: left;

  border-radius: 2px;
  background: #918e91;
  padding: 2px;
}

.matrix-live-entry-time {
  font-size: small;
  color: #ffffff;
  display: inline;
  float: right;

  border-radius: 2px;
  background: #918e91;
  padding: 2px;
}

.matrix-live-footer {
  text-align: right;
  font-size: smaller;

  padding: 4px;

  margin-top: 20px;
  margin-left: 10px;   
  margin-right: 10px;
  margin-bottom: 10px;



}

.matrix-live-footer a {
  color: #918e91;
}



/* Fadein setup */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}